/* Change icon color globally */
.s-ion-icon, .ion-icon {
  color: #0000FF ; /* Use !important if your changes are not taking effect */
}

/* Change label color for Android (md) and iOS */
.sc-ion-label-md, .sc-ion-label-ios {
  color: #0000FF ;
}

/* Change button text color */
.button-inner {
    left: 0px;
    right: 10px;
    top: 0px;
    display: flex;
    position: absolute;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    height: 100%;
    z-index: 1;
    flex-flow: row;
    background-color: #0000FF ;
    transition: transform 300ms ease-in-out, opacity, -webkit-transform;
}

.icon-inner {
  height: 200%
}

.button-native{
  color: #FFFFFF
}
